.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 2px solid gray;
}
.elements-container {
  display: inline-flex;
  align-items: center;

  justify-content: space-between;
}

.elements-container > * {
  margin-right: 3rem;
}
