*:focus {
  outline: none;
}

.player {
  display: flex;
  justify-content: center;
  height: 100vh;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking-arrow {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  animation: blink 1700ms infinite;
  z-index: 1000;
}

.arrow-icon {
  fill: grey;
  width: 400rem;
  height: 400rem;
}
